<html>
  <body>
    <h1>Prediccion de los partidos del MUndial de Valorant</h1>
    <form action="/resultados" method="post">
      <label for="Ganador">Ganador</label>
      <input type="text" id="Ganador" name="Ganador"/>
    <br>
    <label for="desarrollo">Desarrollo</label>
      <input type="text" id="desarrollo" name="desarrollo"/>
    <br>
    <label for="mvp">MVP</label>
    <textarea id="mvp" name="mvp">
    </textarea>
     <br>
    <label for="rondas">Rondas</label>
    <input type="text" id="rondas" name="rondas"/>
    <br>
    <input type="submit"/>

    </form>
  </body>
</html>
